<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="North American Rail Safety, Rail, Safety, North, America, narailsafety, railsafety, Saskatchewan, Yorkton, Regina, Saskatoon, Melville, CN, CP, conductor, yard switcher, locomotive operator, practical training, training, about, courses, teachers, contact, results, oriented, convenient, ldm" />
  <meta name="author" content="North American Rail Safety">
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="3 month">

  <meta property="og:title" content="North American Rail Safety"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="http://www.narailsafety.com/images/og-thumb.jpg"/>
  <meta property="og:url" content="http://narailsafety.com"/>
  <meta property="og:description" content="Our Company North American Rail Safety recognizes the need to teach cutting edge safe railroading to employees the public and to employers to reduce rail incidents."/>

  <title>{% if page.title %}North American Rail Safety - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!-- North American Rail Safety, Saskatchewan, Safety Training  -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

  <!-- JS -->
  <script src="{{ "/js/jquery-2.2.0.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/parallax.min.js" | prepend: site.baseurl }}"></script>

</head>
