
/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 65px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    position: relative;
    bottom: 7px;

    img{
        vertical-align: sub;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

/**
 *  Site navigation
 */

.site-nav {
    float: right;
    min-height: 65px;
    line-height: 65px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    ul{
        margin: 0;
        display: inline-block;
        li{
            display: inline-block;
            padding: 0 20px;
            font-weight: bold;
            text-transform: uppercase;
            .active{
                border-bottom: 2px solid black;
            }
            a{
                color: black;
                font-size: 12px;
                letter-spacing: 2px;
                &:hover{
                    text-decoration: none;
                    border-bottom: 2px solid black;
                }
            }
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 10px;
        right: 20px;
        background-color: transparent;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .trigger {
            clear: both;
            display: none;
            padding-bottom: 5px;
            padding-top: 20px;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 999;

            &.active{
                display: block;
            }
            .active{
                display: block;
            }
        }

        .trigger ul{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 340px;
            width: 150px;
            z-index:9;
            li{
                display: inline-block;
                margin: 15px 0;
                width: 100%;
                text-align: center;

                a{
                    color: white;
                    border-bottom: none;
                    padding-bottom: 0;
                    font-size: 16px;

                    &:hover {
                        border-bottom: none !important;
                        text-decoration: none !important; 
                    }
                }
                a.active{
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
        .trigger .lang-select{
            position: absolute;
            top: 660px;
            left: 0;
            right: 0;
            margin: auto;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;
}

.page-header{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    //background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .page-tagline{
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;

        height: 100px;
        width: 100%;
        h2{
            text-align: center;
            color: white;
            letter-spacing: 20px;
            line-height: 50px;
            font-size: 32px;
            font-family: $secondary-font-family;
            font-style: italic;
            font-weight: 100;
            -webkit-font-smoothing: antialiased;
        }
    }
}


.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/** 
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
}

/**
 * Home Page
 */

.home-header{
    position: relative;
    width: 100%;
    height: 600px;
    //background-image: url('../images/home/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .home-tagline{
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;

        height: 200px;
        width: 100%;
        h2{
            text-align: center;
            color: white;
            letter-spacing: 20px;
            line-height: 50px;
            font-size: 32px;
            font-family: $secondary-font-family;
            font-style: italic;
            font-weight: 100;
            -webkit-font-smoothing: antialiased;
        }
    }
}
.home-tiles{
    margin-bottom: 50px;
    .tile{
        height: 300px;
        .tile-container{
            padding: 20px;
            padding-left: 0px;
            min-height: 200px;
            span{
                font-family: $secondary-font-family;
                font-size: 12px;
                font-style: italic;
            }
            h3{
                text-transform: uppercase;
                font-weight: 500;
                margin: 15px 0;
                font-size: 19px;
                letter-spacing: 1px;
            }
            p{
                font-size: 16px;
            }
        }
        .tile-btn{
            padding: 15px 20px;
            background-color: #333333;
            color: white;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
    #tile-1{
        background-image: url('../images/home/box-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #tile-2{
        background-color: #333333;
        color: #e9e9e9;
        .tile-btn{
            background-color: #4c4c4c;
        }
    }
    #tile-3{
        background-image: url('../images/home/box-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.home-intro{
    height: auto;
    padding: 50px;
    h2{
        text-align: center;
    }
    hr{
        margin: 0 auto 15px;
        width: 50%;
        border-style: solid;
    }
    p{
        font-family: $secondary-font-family;
        -webkit-font-smoothing: antialiased;
    }
}
#intro-1{
    background-color: #333333;
    color: white;
}

/**
 * About
 */

.about-intro{
    margin-bottom: 50px;
}

.about-tile{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    hr{
        border-color: #c39f76;
        width: 60%;
        margin: 20px auto;
        border-style: solid;
    }
    h2{
        text-align: center;
        font-family: $base-font-family;
        font-size: 28px;
    }
    h4{
        font-family: $secondary-font-family;
        font-size: 13px;
        font-weight: 100;
        font-style: italic;
        text-align: center;
    }
    .about-img{
        height: 450px;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        h1{
            font-family: $third-font-family;
            color: white;
            font-size: 5em;
            letter-spacing: 2px;
            width: 60px;
            height: 105px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }
    .about-container{
        position: relative;
        height: 450px;
    }
    .about-content{
        width: 80%;
        height: 250px;
        margin: auto;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}

#about-1{
    background-image: url('../images/about/about-1.jpg');
}
#about-2{
    background-image: url('../images/about/about-2.jpg');
}

.about-closing{
    margin: 100px;
    margin-top: 150px;
    text-align: center;
    h3{
        font-family: $third-font-family;
        margin-bottom: 50px;
    }
    .course-btn{
        background-color: #333333;
        padding: 15px 25px;
        color: white;
        letter-spacing: 1px;
    }
}

/**
 * Courses
 */

.course-tile{
    text-align: center;
}
.course-container{
    position: relative;
    width: 100%;
    min-height: 520px;
    margin: 50px -20px;
    margin-bottom: -50px;
    padding: 0 20px;
    .course-content{
        min-height: 400px;
        width: 70%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        h1{
            font-family: $third-font-family;
            border-bottom: 1px solid;
            width: 80px;
            font-size: 5em;
            font-weight: 100;
            margin: 30px auto;
        }
        h2{
            font-family: $base-font-family;
            font-size: 28px;
        }
        p{
            font-family: $secondary-font-family;
            font-size: 14px;
            text-align: left;
        }
        a{
            color: white;
        }
    }
}

#course-1, #course-4{
    background-color: #333333;
    color: white;
    p{
        -webkit-font-smoothing: antialiased;
    }
}
#course-2, #course-3{
    background-color: #f1f1f1;
}

/**
 * Instructors
 */

.instructor-page{
    .row{
        margin: 100px 0;
        .head-shot{
            text-align: center;
            margin-bottom: 25px;
        }
        .experience{
            font-size: 14px;
            font-family: $secondary-font-family;
            font-style: italic;
        }
    }
}

/**
 * Contact Page
 */
.contact {
   margin: 100px 0; 
}

#contact {
   padding: 10px 0 10px; 
}

.contact-text {
   margin: 45px auto; 
}

.mail-message-area {
   width: 100%;
   padding: 0 15px; 
}

.mail-message {
   width: 100%;
   background: rgba(255, 255, 255, 0.8) !important;
   -webkit-transition: all 0.7s;
   -moz-transition: all 0.7s;
   transition: all 0.7s;
   margin: 0 auto;
   border-radius: 0; 
}

.not-visible-message {
   height: 0px;
   opacity: 0; 
}

.visible-message {
   height: auto;
   opacity: 1;
   margin: 25px auto 0; 
}

/* Input Styles */

.form {
   width: 100%;
   padding: 15px;
   background: #f8f8f8;
   border: 1px solid rgba(0, 0, 0, 0.075);
   margin-bottom: 25px;
   margin-left: -15px;
   color: #727272 !important;
   font-size: 13px;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s; 
}

.form:hover {
   border: 1px solid #c5093b; 
}

.form:focus {
   color: white;
   outline: none;
   border: 1px solid #c5093b; 
}

.textarea {
   height: 200px;
   max-height: 200px;
   max-width: 100%; 
}


.contact-header {
  background-image: url("../images/contact/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  overflow: hidden;
  position: relative; }

.contact-desc {
    height: 30%;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center; 
    h2 {
        color: white;
        letter-spacing: 5px;
        font-family: "proxima-nova",sans-serif;
        font-size: 33px;
        font-weight: bold;
        text-shadow: 1px 1px 5px #969696; 
    }
}

.contact-list {
    list-style: none;
    margin-left: 0;
}

.contact-info {
    text-align: left;
    margin-bottom: 50px; 
    .contact-title {
        color: #c5093b; 
    }
    a {
        color: #c5093b; 
    }
}

@media screen and (max-width: 900px) {
    .contact-info {
        text-align: center; 
    } 
}



/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: #333333;

    ul{
        li{
            color: white;
            font-size: 12px;
            letter-spacing: 1px;
            a{
                color: white;
            }
        }
    }
}

.footer-heading {
    font-size: 14px;
    margin-bottom: 6px;
    margin-left: 0;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 3px;
}

.footer-nav{
    float: right;
    ul{
        display: inline-block;
        margin: 0;
        li{
            display: inline-block;
            padding: 0 10px;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 1px;
            a{
                border-bottom: none !important;
            }
        }
    }
    .social-media{
        margin-left: 20px;
        li{
            padding: 0 5px;
        }
    }
}

@include media-query($footer-break) {
    .footer-contact-info, .footer-nav{
        text-align: center;
        margin: 40px 0;
        float: none;
    }
} 

@include media-query($on-laptop) {
    .about-page{
        .about-tile{
            margin: 20px 0;
        }
    }
    #course-3{
        background: #333333;
        color: white;
        p{
            -webkit-font-smoothing: antialiased;
        }
    }
    #course-4 {
        background-color: #f1f1f1;
        color: #111;
    }
}

@include media-query($on-palm) {
    .home-header{
        .home-tagline{
            h2{
                font-size: 26px;
            }
        }
    }
    .page-header{
        .page-tagline{
            h2{
                font-size: 20px;
            }
        }
    }
    .home-intro{
        padding: 50px 0;
        .img-container{
            padding: 20px 0;
        }
    }

    .about-page{
        .about-closing{
            margin: 100px 0;
        }
    }
    
    .course-container{
        min-height: 550px;
        .course-content{
            height: auto;
            width: 90%;
            .button{
                margin: 30px auto;
            }
        }
    }
    .footer-nav{
        float: right;
        ul{
            display: block;
            margin: 0;
            li{
                display: inline-block;
                padding: 0 10px;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }
        .social-media{
            margin-left: 20px;
            li{
                padding: 0 5px;
            }
        }
    }
}

#nav-toggle { 
    cursor: pointer; 
    padding: 17px 0px 16px 0px; 
    position: relative;
    z-index: 9999;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 30px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
  background: white;
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
  background: white;
}